{% extends "bootstrap/base.html" %}


{% block head %}
  {{ super() }}
  {% include 'head.html' %}
{% endblock %}


{% block title %}
Phil, a travel app
{% endblock %}


{% block navbar %}
  {% if loggedin %}
    {% include 'navbar_logged_in.html' %}
  {% else %}
    {% include 'navbar_logged_out.html' %}
  {% endif %}
{% endblock %}


{% block scripts %}
<script src="{{ url_for('static',filename='js/jquery-1.11.2.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/typed.js') }}" type="text/javascript"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<script>
  $(function(){
    $(".typed").typed({
      strings: ["your friends.", "your family.", "your lover.", "Phil."],
      typeSpeed: 85,
      loop: true,
      backDelay: 1000
    });
  });
</script>
{% endblock %}


{% block content %}
<div class="jumbotron jumbotron-fluid" style = 'background-image: url(static/img/gg_bg_muted.png);
  background-size: cover;
  background-position: center center;
  height: 500px;'/>
  <div class='container'>
    <br>
                    <!--Typed.js-->
<div class="typed-js-hide">
  <div class="row">
    <div class="col-sm-12">
      <div class="text-center">
        <h1><font color="#ffffff">Travel with </font><span class="typed" style="color:#ffae1d";></span></h1>
      </div>
    </div>
  </div>
</div>
    
    <br>
    <p class="lead text-white"><b>Welcome to Phil!</b> Traveling in a group can be a fun yet daunting task. Our mission is to help users achieve stress-free group travel. Choosing daily activities to fit your mood or the weather can feel burdensome.</p>
    <br> 
    <p class="lead text-white">Phil can help! Tell us your trip details and activity preferences, and we'll recommend events and places! </p>    <hr class="my-4">
    <a class="btn btn-primary btn-lg" href="/create_trip" role="button" style="background-color: #ffae1d; border: 2px solid #ffae1d;">Plan a trip</a>
</div>
</div>


    {% include 'footer.html' %}

{% endblock %}
